.OneMessagePage{
    height: 80vh;
    *{
        // margin: 0;
        // padding: 0;
        box-sizing: border-box;
    }
    .login_container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 36px;
        background: #f5f5f5;
        box-shadow:  20px 20px 100px #aeaeae,
            -20px -20px 100px #ffffff;
        min-width: 20%;
        min-height: 20%;
        padding: 3vw;
        h1{
            margin-top: 0;
        }
        .buttons-cont{
            display: flex;
            justify-content: space-around;
            padding-top: 2rem;
            a{
                text-decoration: none;
                font-weight: 400;
                font-size: large;
            }
        }
        .WSStep{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            #WSName, button{
                margin-top: 1rem;
            }
        }
        .bookDemo{
            text-align: center;
            vertical-align: middle;
            line-height: 300%;
            height: 100%;
            a{
                text-decoration: none;
                font-weight: 400;
                font-size: large;
            }
        }
        #errorWS,#errorApi{
            color: red;
            position: relative;
            top: .4rem;
        }
        .all-set{
            text-align: center;
            cursor: none;
        }
        #apiKPage{
            position: absolute;
            bottom: 11px;
            right: 19px;
            text-decoration: none;
        }
    }
}